.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

.innovation {
  margin: 0;
}

main>.section.innovation>div {
  max-width: unset;
  padding: 0;
}

.innovation .columns>div {
  position: relative;
  display: block;
}

.innovation .columns>div>div {
  order: unset;
}

.innovation .columns p {
  margin: 0;
}

.innovation .columns picture {
  display: block;
}

.innovation .columns img {
  display: block;
  width: 100%;
}

.innovation .columns [data-aue-prop="text"] {
  position: absolute;
  inset: 0;
  display: grid;
  width: min(70%, 830px);
  margin: auto;
  place-content: center;
  color: #fff;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }

  .innovation .columns [data-aue-prop="text"] {
    font-size: 36px;
  }
}