.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}

/* Intelligence Component */

.section.intelligence.columns-container .columns-wrapper.intelligence-columns-wrapper {
  max-width: unset;
  margin: 0;
  padding: 0;
}

.section.intelligence.columns-container .columns.intelligence-columns {
  position: relative;
  aspect-ratio: 1254 / 468;
  overflow: hidden;
}

.section.intelligence.columns-container .columns.intelligence-columns>.intelligence-column {
  display: block;
  height: 100%;
}

.section.intelligence.columns-container .columns.intelligence-columns .intelligence-image {
  position: absolute;
  inset: 0;
  margin: 0;
}

.section.intelligence.columns-container .columns.intelligence-columns .intelligence-image picture,
.section.intelligence.columns-container .columns.intelligence-columns .intelligence-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.section.intelligence.columns-container .columns.intelligence-columns .intelligence-image img {
  object-fit: cover;
}

.section.intelligence.columns-container .columns.intelligence-columns .intelligence-text {
  position: relative;
  z-index: 1;
  display: grid;
  height: 100%;
  margin: 0;
  padding: 24px 36px;
  place-content: center start;
  color: #fff;
  font-family: roboto, roboto-fallback, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.34;
}

.section.intelligence.columns-container .columns.intelligence-columns .intelligence-text p {
  margin: 0;
}

.section.intelligence.columns-container .columns.intelligence-columns .intelligence-text p:last-child {
  font-weight: 700;
}

@media (width >=600px) {
  .section.intelligence.columns-container .columns.intelligence-columns .intelligence-text {
    padding: 80px;
    font-size: 96px;
  }
}


/* innovation Component */

.section.innovation.columns-container .columns-wrapper.innovation-columns-wrapper {
  max-width: unset;
  margin: 0;
  padding: 0;
}